{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">

            <h3 class="mt-5">{{'Nazwa wniosku'|trans }}: {{ filledProposal.proposal.name }}</h3>
            <div class="col-lg-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{'Rodzaj'|trans }}</td>
                        <td>{{ filledProposal.proposal.type }}</td>
                    </tr>
                    <tr>
                        <td>{{'Opis'|trans }}</td>
                        <td>{{ filledProposal.proposal.description }}</td>
                    </tr>
                    <tr>
                        <td>{{'Pracownik'|trans }}</td>
                        <td>{{ filledProposal.users.username }} ({{ filledProposal.users.email }})</td>
                    </tr>
                    <tr>
                        <td>{{'Data'|trans }}</td>
                        <td>{{ filledProposal.proposal.datetime|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <td>{{'Wartosc'|trans }}</td>
                        <td>{{ filledProposal.proposal.value }}</td>
                    </tr>
                    <tr>
                        <td>{{'Decyzja'|trans }}</td>
                        <td>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            {{ form_label(form.decision) }}
                            {{ form_widget(form.decision, {'attr': {'class': 'form-control'}}) }}

                        </td>
                    </tr>
                    <tr>
                        <td>{{'Informacja dla pracownika'|trans }}</td>
                        <td>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            {{ form_label(form.information) }}
                            {{ form_widget(form.information, {'attr': {'class': 'form-control'}}) }}

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="{{'Zatwierdz'|trans }}" class="btn btn-success">
                            {{ form_end(form) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}